* {
    margin: 0;
    padding: 0;
}

html , body {
    min-height: 100vh;
    margin: 0;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.catalog__paragraph {
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}

.catalog__pages__number {
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
    width: 284px;
    margin: 0 auto 96px;
}

.catalog__filters {
    display: flex;
}

.catalog__filt{
    display: flex;
    justify-content: space-between;
    margin-left: 310px;
    width: 322px;
}

.catalog__menu {
    display: flex;
    justify-content: space-between;
    margin: 51px 0 64px 0;
}


.button__center {
text-align: center;
margin-bottom: 95px;
}

.button {
    border: 1px solid #FF6A6A;
    background: #FFFFFF;
    width: 211px;
    height: 47px;
    color:#F26376;
    text-decoration: none;
    padding: 14.5px 38.5px;
}

.button:hover{
    background: #F16D7F;
    color: #FFFFFF;
}

.offers {
    height: 100%;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    color: #fbfbfb;
    text-align: center;
}

.offers__top {
    display: flex;
    justify-content: center;
    padding: 104px 0;
    flex-wrap: wrap;
}

.offers__heading {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.offers__p {
    font-weight: 300;
}

.offers__settings {
    width: 360px;
    text-align: center;
}

.offers__img__delivery {
margin-bottom: 27px;
}

.offers__img__sales {
margin-bottom: 19px;
}

.offers__img__quality {
margin-bottom: 25px;
}

.offers__heading {
    margin-bottom: 16px;
    font-weight: 400;
}

.new_arrivals {
    background-color: #F8F3F4;
}

.new_arrivals_wrap {
        display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.new_arrivals_h1 {
color: #F16D7F;
}

.new_arrivals_h4 {
color: #636363;
}

.new_arrivals_span {
color: #F16D7F;
}

.product__wallpaper {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    ;

}
.product__img {
    margin-bottom: 60px;
}

.product__text {
    display: flex;
    justify-content: center;
}

.product__text__word {
    background-color: white;
    text-align: center;
    width: 1141px;
    border: 1px solid #EAEAEA;
    margin: -90px 0 129px 0;
    padding: 65px;
}


.product__h2{
    color: #F16D7F;
    padding-bottom: 12px;

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

}

.product__h2__div {
    background: #EF5B70;
    width: 63px;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.product__h1{
margin-bottom: 48px;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
}

.product__p{
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
width: 572px;
margin: 0 auto;
margin-bottom: 32px;
color: #5E5E5E;

}

.product__h1-price{
    font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #EF5B70;
margin-bottom: 65px;
}

.product__hr{
width: 641px;
margin: 0 auto;
margin-bottom: 65px;
}

.product__div{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 373px;
    margin-bottom: 48px;
}


.product__a{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #FF6A6A;
    width: 211px;
    height: 47px;
    margin: 0 auto;
    color: #F26376;

}

.product__choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 128px;
}

@import "block/header";

@import "block/footer";

@import "block/index";

@import "block/cart";

@import "block/registration";

@import "block/filter";

@import "block/catalog__item";

@media (max-width:1100px) {
    
    .offers__top {
        flex-direction: column;
    }

    .offers__settings:not(:last-child) {
        margin-bottom: 50px;
    }

}

