* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.catalog__paragraph {
  text-align: center;
  line-height: 30px;
  margin-bottom: 50px;
}

.catalog__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__choice :nth-last-child(n+4) {
  margin-bottom: 25px;
}

.catalog__icon {
  height: 581px;
  width: 360px;
  background: #F8F8F8;
}

.tuning {
  background-repeat: no-repeat;
  background-position: center;
  height: 420px;
  text-align: center;
  margin-bottom: 7px;
  line-height: 12px;
}

.catalog__text {
  padding: 18px;
}

.catalog__indent {
  margin-bottom: 13px;
}

.catalog__description {
  margin-bottom: 18px;
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
}

.catalog__price {
  color: #F16D7F;
}

.catalog__pages__number {
  border: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 284px;
  margin: 0 auto 96px;
}

.catalog__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__filt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 310px;
  width: 322px;
}

.catalog__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 51px 0 64px 0;
}

.button__center {
  text-align: center;
  margin-bottom: 95px;
}

.button {
  border: 1px solid #FF6A6A;
  background: #FFFFFF;
  width: 211px;
  height: 47px;
  color: #F26376;
}

.button:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.offers {
  height: 341px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fbfbfb;
  text-align: center;
}

.offers__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 104px 0;
}

.offers__heading {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.offers__p {
  font-weight: 300;
}

.offers__settings {
  width: 360px;
  text-align: center;
}

.offers__img__delivery {
  margin-bottom: 27px;
}

.offers__img__sales {
  margin-bottom: 19px;
}

.offers__img__quality {
  margin-bottom: 25px;
}

.offers__heading {
  margin-bottom: 16px;
  font-weight: 400;
}

.new_arrivals {
  background-color: #F8F3F4;
}

.new_arrivals_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new_arrivals_h1 {
  color: #F16D7F;
}

.new_arrivals_h4 {
  color: #636363;
}

.new_arrivals_span {
  color: #F16D7F;
}

.product__wallpaper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F7F7F7;
}

.product__img {
  margin-bottom: 60px;
}

.product__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__text__word {
  background-color: white;
  text-align: center;
  width: 1141px;
  border: 1px solid #EAEAEA;
  margin: -90px 0 129px 0;
  padding: 65px;
}

.product__h2 {
  color: #F16D7F;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.product__h2__div {
  background: #EF5B70;
  width: 63px;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.product__h1 {
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.product__p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 572px;
  margin: 0 auto;
  margin-bottom: 32px;
  color: #5E5E5E;
}

.product__h1-price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.product__hr {
  width: 641px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.product__div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 373px;
  margin-bottom: 48px;
}

.product__a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47px;
  margin: 0 auto;
  color: #F26376;
}

.product__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

.header {
  background-color: #222;
  padding: 18px 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 40px;
  text-decoration: none;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

.footer__top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url(/img/beach.jpg);
  background-image: linear-gradient(to bottom, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(/img/beach.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.beach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 448px;
}

.left {
  text-align: center;
}

.left__img {
  margin-bottom: 24px;
}

.left__text {
  width: 360px;
  font-size: 20px;
  text-align: center;
}

.right {
  text-align: center;
}

.right__p {
  margin-bottom: 32px;
}

.right__span {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.right__form {
  width: 356px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 22px;
  border-radius: 50px 0 0 50px;
  border: 0px;
  background-color: #E1E1E1;
}

.inlet {
  background-color: #E1E1E1;
  outline: none;
  border: none;
  color: #222224;
}

.send {
  border-radius: 0 50px 50px 0;
  width: 100px;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: 0px;
}

.footer__bottom {
  background: #222224;
}

.info {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy {
  color: #fbfbfb;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.social__network {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__network:hover {
  background-color: #F16D7F;
  fill: #FFFFFF;
}

.cover {
  background-color: #F1E4E6;
  height: 764px;
  margin-bottom: 30px;
}

.cover__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(/img/man.png);
  background-repeat: no-repeat;
  background-position: -212px;
}

.cover__text {
  max-width: 400px;
  font-size: 25px;
  padding-left: 20px;
  border-left: 12px solid #F16D7F;
  line-height: 40px;
}

.size {
  font-size: 32px;
}

.color {
  color: #F16D7F;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  line-height: 28px;
  margin-bottom: 100px;
}

.category__item:not(:last-child) {
  width: 360px;
  margin-bottom: 30px;
  height: 260px;
}

.category__text {
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  text-align: center;
  color: #FFFFFF;
}

.category__decor {
  font-size: 24px;
  color: #F16D7F;
}

.photo__woman {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(/img/for_woman.png);
  background: linear-gradient(to bottom, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/for_woman.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.photo__man {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(/img/for_man.png);
  background: linear-gradient(to bottom, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/for_man.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.photo__kids {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(/img/for_kids.png);
  background: linear-gradient(to bottom, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/for_kids.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.photo__accesories {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(/img/for_accesories.png);
  background: linear-gradient(to bottom, rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/for_accesories.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.shopping {
  background-color: #F8F3F4;
  margin-bottom: 96px;
}

.shopping h1 {
  color: #F16D7F;
}

.shopping div {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.value div .purchases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  background-color: #ffffff;
  -webkit-box-shadow: 15px 15px 28px #e0e0e0;
          box-shadow: 15px 15px 28px #e0e0e0;
}

.value div .purchases:nth-child(1) {
  margin-bottom: 40px;
}

.value div .purchases:nth-child(2) {
  margin-bottom: 72px;
}

.value div .purchases img {
  height: 262px;
}

.value div .purchases__info {
  padding: 22px 31px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.value div .purchases__info div {
  color: #575757;
}

.value div .purchases__info div p {
  font-size: 22px;
  line-height: 26px;
}

.value div .purchases__info div p span {
  color: #F16D7F;
}

.value div .purchases__info div p.p__two .two {
  border: 1px solid #EAEAEA;
  color: #656565;
  padding: 0 16px;
}

.value div .purchases__info div h1 {
  width: 262px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.value div .shopping__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

.value div .shopping__a a {
  text-decoration: none;
  color: #000;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
}

.value .cost {
  width: 360px;
}

.value .cost__form {
  margin-bottom: 57px;
}

.value .cost__form h1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.value .cost__form form input:nth-child(4) {
  border: 1px solid #A4A4A4;
  width: 100px;
  height: 34px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: #ffffff;
}

.value .cost__form form input:not(:last-child) {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
  color: black;
}

.value .cost__checkout {
  background: #F5F3F3;
  text-align: center;
  padding: 40px 42px;
}

.value .cost__checkout p:nth-child(1) {
  margin-right: -202px;
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.value .cost__checkout p:nth-child(2) {
  margin-right: -133px;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.value .cost__checkout p span {
  color: #F16D7F;
}

.value .cost__checkout hr {
  width: 275px;
  margin: auto auto 17px auto;
  border: 1px solid #E2E2E2;
}

.value .cost__checkout a {
  background: #F16D7F;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 38px;
  display: block;
}

.shopping__h1 {
  margin-bottom: 64px;
}

.registration__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 96px;
}

.registration__info__one {
  width: 360px;
}

.registration__info__one--input {
  width: 100%;
  border: 1px solid #A4A4A4;
  height: 45px;
  padding-left: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.registration__info__one--input:nth-child(1) {
  margin-bottom: 20px;
}

.registration__info__one--input:nth-child(2) {
  margin-bottom: 33px;
}

.registration__info__one--input:nth-child(5) {
  margin-bottom: 20px;
}

.registration__info__one--input:nth-child(6) {
  margin-bottom: 15px;
}

.registration__info__one div {
  margin-bottom: 35px;
}

.registration__info__one div label input {
  border: 1px solid #A4A4A4;
}

.registration__info__one div label input::-ms-check {
  color: red;
  background: black;
  padding: 1em;
}

.registration__info__one h1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration__info__one p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.registration__info__one .submit {
  width: 167px;
  height: 50px;
  background: no-repeat #F16D7F url(/img/pointer.svg);
  color: #fff;
  border: 0px solid;
}

.registration__info__two {
  width: 652px;
}

.registration__info__two h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__info__two h1:nth-child(n+3):not(:last-child) {
  padding-bottom: 16px;
}

.registration__info__two h1:nth-child(-n+2) {
  padding-bottom: 22px;
}

.registration__info__two h1 svg {
  padding-right: 23px;
}

.catalog__filter {
  cursor: pointer;
  width: 100px;
  background-color: #ffffff;
  padding-top: 13px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

.catalog__filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  color: #EF5B70;
  fill: #EF5B70;
  width: 360px;
  height: 100%;
}

.catalog__filter summary {
  margin-bottom: 17px;
  list-style: none;
  padding-left: 17px;
}

.catalog__filter div {
  position: absolute;
  width: 343px;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-left: 17px;
}

.catalog__filter div details {
  margin-bottom: 17px;
}

.catalog__filter div details .2[open] {
  color: red;
}

.catalog__filter div .adoption {
  border-left: 6px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 10px;
  color: black;
}

.catalog__filter div ul {
  -webkit-padding-start: 17px;
          padding-inline-start: 17px;
}

.catalog__filter div ul li {
  list-style: none;
  line-height: 30px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.catalog__filter div ul li a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=style.css.map */