.shopping {
    background-color:#F8F3F4;
    margin-bottom: 96px;

    & h1 {
        color: #F16D7F;
    }

    & div {
        height: 148px;
        display: flex;
        align-items: center;
    }
}

.value {
    display: flex;
    justify-content: space-between;

    & div {
        & .purchases {
        display: flex;
        width: 652px;
        background-color: #ffffff;
        box-shadow:15px 15px 28px #e0e0e0;

        &:nth-child(1){
            margin-bottom: 40px;
            }

        &:nth-child(2){
            margin-bottom: 72px;
        }

            & img {
                height: 262px;
            }

            &__info {
                padding: 22px 31px;
                width: inherit;
                display: flex;
                justify-content: space-between;

                    & div {
                        color: #575757;

                        & p {
                            font-size: 22px;
                            line-height: 26px;

                            & span {
                                color:#F16D7F;
                            }
                            
                            &.p__two{
                                
                            & .two {
                                border: 1px solid #EAEAEA;
                                color: #656565;
                                padding: 0 16px;
                            }
                        }
                        }

                        & h1 {
                            width: 262px;
                            font-size: 24px;
                            line-height: 29px;
                            color: #222222;
                            margin-bottom: 42px;
                        }
            
                    }
            }
        }

        & .shopping__a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;

    & a {
        text-decoration: none;
        color: #000;
        border: 1px solid #A4A4A4;
        padding: 16px 40px;
    }
        }
    }

    & .cost {
        width: 360px;

        &__form {
            margin-bottom: 57px;
            
            & h1 {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 20px;
            }

            & form {

                & input {

                    &:nth-child(4){
                        border: 1px solid #A4A4A4;
                        width: 100px;
                        height: 34px;
                        font-weight: 300;
                        font-size: 11px;
                        line-height: 13px;
                        color: #4A4A4A;
                        background-color: #ffffff;
                    }
                
                    &:not(:last-child) {
                        width: 100%;
                        height: 45px;
                        margin-bottom: 20px;
                        padding-left: 17px;
                        border: 1px solid #A4A4A4;
                        color:black;
                    }
                    
                }
            }
        }

        &__checkout {
            background: #F5F3F3;
            text-align: center;
            padding: 40px 42px;

            & p {

                &:nth-child(1){
                    margin-right: -202px;
                    margin-bottom: 12px;
                    font-size: 11px;
                    line-height: 13px;
                    color: #4A4A4A;

                }

                &:nth-child(2){
                    margin-right: -133px;
                    margin-bottom: 21px;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #222222;
                }
    
                & span {
                    color: #F16D7F;
                }
            }

            & hr {
                width: 275px;
                margin: auto auto 17px auto;
                border: 1px solid #E2E2E2;
            }

            & a {
                background: #F16D7F;
                color: #ffffff;
                text-decoration: none;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                padding: 16px 38px;
                display: block;
            }
        }
    }
}

@media (max-width:768px) {

    .value {
        flex-direction: column;

        & div {

            & div {

                & .purchases {
                    width: 100%;
                }
            }

            & .shopping__a {
                justify-content: space-evenly;

                a {
                    padding: 0;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    color: #575757;
                    padding: 8px 17px ;
                }
            }
        }

        & .cost {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 100px;
        }
    }
    
}

@media (max-width:376px) {

    .shopping {
        display: flex;
        justify-content: center;
    }

    .value {

        & div {

            & div {

                & .purchases {

                    & img {
                        height: 188px;
                    }

                    &:nth-child(2){
                        margin-bottom: 35px;
                    }


                    &__info {

                            & div {

                                & h1 {
                                    width: 100%;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #222222;
                                }
        
                                & p {
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #575757;

        
                                    & span {
                                        color:#F16D7F;
                                    }
                                    
                                    &.p__two{
                                        
                                        & .two {
                                            border: 1px solid #EAEAEA;
                                            color: #656565;
                                            padding: 0 16px;
                                        }
                                    }
                                }
                            }
                        }

                    & svg {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            & .shopping__a {
                margin-bottom: 48px;
            }
        }

        & .cost {
            flex-direction: column;
        }
    } 

}