* {
    box-sizing: border-box;
}

header {
    background-color: #222222;
    padding: 10px 0;
    position: relative;
    z-index: 2;

    & .header__wrap {
        display: flex;
        justify-content: space-between;
    }

    & .header__logo {
        margin-right: 40px;
        text-decoration: none;
    }

    & .header__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .header__right {
        display: flex;
        align-items: center;
    }

     & .header__item {
         &:not(:last-child) {
             margin-right: 33px;
         }
     }
}


#burger {
    display: none;
}

#burger:checked ~ .header__nav {
    display: block;
}

#burger:not(:checked) ~ .header__nav {
    display: none;
}

.header__menu {
    color: white;
    font-size: 33px;
    cursor: pointer;
}

.header__nav {
    z-index: 10;
    top: 65px;
    display: flex;
    position: absolute;
    right: 0;
    }

.nav {
    background-color: white;
    min-width: 232px;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 37px 33px;
    height: calc( 100vh - 65px );
    overflow-y: scroll;
}


h2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

h3 {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-top: 20px;
    margin-bottom: 12px;
}

    ul {
        padding-left: 20px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                font-size: 14px;
                line-height: 27px;
                color: #6F6E6E;
            }
        }
    }

.nav__wrap {
    position: relative;
}

.nav__close {
    position: absolute;
    right: -25px;
    top: -34px;
    cursor: pointer;
    font-size: 25px;
}


@media (max-width: 768px)  {
    
.header__wrap {
    padding: 0 32px;
}

.cover {
    height: calc(45vh - 65px) !important;
}

.nav {
    height: calc(45vh - 65px) !important;
}
    
}
