.cover {
    background-color: #F1E4E6;
    height: 764px;
    margin-bottom: 30px;
}

.cover__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image:url(/img/man.png);
    background-repeat: no-repeat;
    background-position: -212px;
}

.cover__text{
    max-width: 400px;
    font-size: 25px;
    padding-left: 20px;
    border-left: 12px solid #F16D7F;
    line-height: 40px;
}

.size {
    font-size: 32px;
}

.color {
    color: #F16D7F;
}

.category__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    line-height: 28px;
    margin-bottom: 100px;
}

.category__item:not(:last-child) {
    width: 360px;
    margin-bottom: 30px;
    height: 260px;
}

.category__text {
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    text-align: center;
    color: #FFFFFF;
}

.category__decor {
    font-size: 24px;
    color: #F16D7F;
}

.photo__woman {
    background: linear-gradient(
    to bottom,
    rgba(33,22,22,0.7),
    rgba(33,22,22,0.7)
    ),
    url(/img/for_woman.png);

    background-size: cover;
    background-repeat: no-repeat;
}

.photo__man {
    background: linear-gradient(
    to bottom,
    rgba(33,22,22,0.7),
    rgba(33,22,22,0.7)
    ),
    url(/img/for_man.png);

    background-size: cover;
    background-repeat: no-repeat;
}

.photo__kids {
    background: linear-gradient(
    to bottom,
    rgba(33,22,22,0.7),
    rgba(33,22,22,0.7)
    ),
    url(/img/for_kids.png);

    background-size: cover;
    background-repeat: no-repeat;
}

.photo__accesories {
    background: linear-gradient(
    to bottom,
    rgba(33,22,22,0.7),
    rgba(33,22,22,0.7)
    ),
    url(/img/for_accesories.png);

    background-size: cover;
    background-repeat: no-repeat;
}