.shopping__h1 {
    margin-bottom: 64px;
}

.registration__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;

    &__one {
        width: 360px;

        &--input {
            width: 100%;
            border: 1px solid #A4A4A4;
            height: 45px;
            padding-left: 17px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;


            &:nth-child(1){
                margin-bottom: 20px;
            }

            &:nth-child(2){
                margin-bottom: 33px;
            }

            &:nth-child(5){
                margin-bottom: 20px;
            }

            &:nth-child(6){
                margin-bottom: 15px;
            }
        }

        & div {
            margin-bottom: 35px;

            & label {

                & input {
                    border: 1px solid #A4A4A4;
                    
                    &::-ms-check {
                        color: red;
                        background: black;
                        padding: 1em;
                    }
                }
            }
        }

        & h1{
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-bottom: 20px;
        }

        & p {
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            margin-bottom: 39px;
        }

        & .submit {
            width: 167px;
            height: 50px;
            background: no-repeat #F16D7F url(/img/pointer.svg);
            color: #fff;
            border: 0px solid;
        }
    }

    &__two {
        width: 652px;

        & h1{
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;

            &:nth-child(n+3){
                &:not(:last-child){
                    padding-bottom: 16px;
                }
            }

            &:nth-child(-n+2){
                padding-bottom: 22px;
            }

            & svg {
                padding-right: 23px;
            }

        }
    }
}